<!DOCTYPE html>
<html>
<head>
  <title>Store2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if user_signed_in? %>
    登录邮箱为： <%= current_user.email %>
  <%= link_to "编辑个人信息", edit_user_registration_path %>
  <%= link_to "注销", destroy_user_session_path, :method => :delete %>
  <% else %>
    <%= link_to "注册", new_user_registration_path %> 或者
    <%= link_to "登录", new_user_session_path %>
  <% end %>

  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, id: "flash_#{name}" %>
  <% end %>

<%= yield %>

</body>
</html>
